<%= form_with(model: interior_design, local: true) do |form| %>
  <% if interior_design.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interior_design.errors.count, "error") %> prohibited this interior_design from being saved:</h2>

      <ul>
      <% interior_design.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :photo, "Select photo for interior design:" %>
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit "Update interior design", class: "btn" %>
    <%= link_to "Cancel", interior_designs_path, class: "btn", data: { confirm: "Editing will be canceled. No changes will be saved. Are you sure?"} %>
  </div>
<% end %>
