
  <table>
    <thead>
      <tr>
        <th>Photo url</th>
        <th>Wedding on</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @wedding_albums.each do |wedding_album| %>
        <tr>
          <td><%= wedding_album.photo_url %></td>
          <td><%= wedding_album.wedding_on %></td>
          <td><%= link_to 'Show', wedding_album %></td>
          <td><%= link_to 'Edit', edit_wedding_album_path(wedding_album) %></td>
          <td><%= link_to 'Destroy', wedding_album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%# if signed_in? && (current_user.admin? || current_user.author?) %>
  <%= link_to 'New Wedding Album', new_wedding_album_path, class: "btn btn-default" %>
  <%# end %>
</div>


<!-- <%= form_for @wedding_album, html: {multipart: true, class: "dropzone", id: "mydropzone"} do |f| %>
  <div class="fallback">
    <%= f.file_field :photo %>
    <%= f.submit "Upload the Image" %>
  </div>
<% end %> -->

<div class="row">
  <div class="column col-sm-6 col-md-3">
    <% @wedding_album.wedding_photos.each do |wedding_photo| %>
      <%= image_tag( wedding_photo.photo.url.to_s , class: "img-fluid", alt: wedding_photo.photo_identifier) %>
    <% end %>
  </div>
</div>



  <div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

      <div class="mySlides">
        <%= image_tag( @wedding_album.wedding_photos.find(5).photo.url.to_s , class: "img-fluid", alt: "") %>
      </div>

      <div class="mySlides">
        <%= image_tag( @wedding_album.wedding_photos.find(6).photo.url.to_s , class: "img-fluid", alt: "") %>
      </div>

      <div class="mySlides">
        <%= image_tag( @wedding_album.wedding_photos.find(7).photo.url.to_s , class: "img-fluid", alt: "") %>
      </div>

      <div class="mySlides">
        <%= image_tag( @wedding_album.wedding_photos.find(8).photo.url.to_s , class: "img-fluid", alt: "") %>
      </div>


      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
  </div>

  <% str += '<%= image_tag( wedding_photo.photo.url.to_s , class: "img-fluid", alt: wedding_photo.photo_identifier %>' %>
  <% str += "<%= image_tag( #{wedding_photo.photo.url.to_s} %>" %>
  <div class="column">
    <%= image_tag( @wedding_album.wedding_photos.find(5).photo.url.to_s , class: "img-fluid", alt: "", onclick: "openModal();currentSlide(1)") %>
    <%= image_tag( @wedding_album.wedding_photos.find(6).photo.url.to_s , class: "img-fluid", alt: "", onclick: "openModal();currentSlide(2)") %>
    <%= image_tag( @wedding_album.wedding_photos.find(7).photo.url.to_s , class: "img-fluid", alt: "", onclick: "openModal();currentSlide(3)") %>
    <%= image_tag( @wedding_album.wedding_photos.find(8).photo.url.to_s , class: "img-fluid", alt: "", onclick: "openModal();currentSlide(4)") %>
    <%= image_tag( @wedding_album.wedding_photos.find(9).photo.url.to_s , class: "img-fluid", alt: "") %>
    <%= image_tag( @wedding_album.wedding_photos.find(10).photo.url.to_s , class: "img-fluid", alt: "") %>
  </div>
  <div class="column">
    <%= image_tag( @wedding_album.wedding_photos.find(11).photo.url.to_s , class: "img-fluid", alt: "") %>
    <%= image_tag( @wedding_album.wedding_photos.find(12).photo.url.to_s , class: "img-fluid", alt: "") %>
    <%= image_tag( @wedding_album.wedding_photos.find(13).photo.url.to_s , class: "img-fluid", alt: "") %>
    <%= image_tag( @wedding_album.wedding_photos.find(14).photo.url.to_s , class: "img-fluid", alt: "") %>
    <%= image_tag( @wedding_album.wedding_photos.find(15).photo.url.to_s , class: "img-fluid", alt: "") %>
    <%= image_tag( @wedding_album.wedding_photos.find(16).photo.url.to_s , class: "img-fluid", alt: "") %>
  </div>
  <div class="column">
    <%= image_tag( @wedding_album.wedding_photos.find(17).photo.url.to_s , class: "img-fluid", alt: "") %>
    <%= image_tag( @wedding_album.wedding_photos.find(18).photo.url.to_s , class: "img-fluid", alt: "") %>
    <%= image_tag( @wedding_album.wedding_photos.find(19).photo.url.to_s , class: "img-fluid", alt: "") %>
    <%= image_tag( @wedding_album.wedding_photos.find(20).photo.url.to_s , class: "img-fluid", alt: "") %>
    <%= image_tag( @wedding_album.wedding_photos.find(21).photo.url.to_s , class: "img-fluid", alt: "") %>
  </div>
</div>

<div class="row">
  <% @wedding_album.wedding_photos.each_with_index do |wedding_photo, i|  %>
    <div class="column column-first">
      <% if i+1 % 2 != 0 %>
        <%= image_tag(wedding_photo.photo.url.to_s , class: "img-fluid", alt: wedding_photo.photo_identifier) %>
      <% end %>
    </div>
    <div class="column column-second">
      <% if i+1 % 2 == 0 %>
        <%= image_tag(wedding_photo.photo.url.to_s , class: "img-fluid", alt: wedding_photo.photo_identifier) %>
      <% end %>
    </div>


  <% end %>
</div>


<% if i % 3 == 0 %>
  <% column1 += "#{i}" %>
<% elsif (i+1) % 3 == 0 %>
  <% column3 += "#{i}" %>
<% else %>
  <% column2 += "#{i}" %>
<% end %>

<% column1 = "" %>
<% column2 = "" %>
<% column3 = "" %>
<% @wedding_album.wedding_photos.each_with_index do |wedding_photo, i|  %>
  <% if i % 3 == 0 %>
    <% column1 += i.to_s %>
  <% elsif (i+1) % 3 == 0 %>
    <% column3 += i.to_s %>
  <% else %>
    <% column2 += i.to_s %>
  <% end %>
<% end %>

<p>Column1 <%= column1 %></p>
<p>Column2 <%= column2 %></p>
<p>Column3 <%= column3 %></p>
</div>

<!-- <%=# image_tag( @wedding_album.photo_square.url.to_s , class: "img-fluid", alt: @wedding_album.photo_square_identifier) %> -->


<% if f? %>
  <div class="row">
    <%= f.label :photo, "Photo #{f.index.to_i + 1 }", class: "wedding-photo-label" %>
    <%= f_identifier.to_s %>
  </div>

  <%= f.file_field :photo %>
  <%= link_to_remove_association '<i class="fas fa-times fa-lg"></i>'.html_safe, f, class: "delete-x" %>
<% else %>
  <%= f.label :photo, "Photo #{f.index.to_i + 1 }", class: "wedding-photo-label" %>
  <%= f.file_field :photo %>
  <%= link_to_remove_association '<i class="fas fa-times fa-lg"></i>'.html_safe, f, class: "delete-x" %>
<% end %>

<div class="row uploaded-wedding-photo">
  <%= f.label :photo, "Photo #{f.index.to_i + 1 }", class: "col-3 col-sm-2" %>
  <div class="col-2">
    <%= image_tag( @wedding_album.wedding_photos[f.index.to_i].photo.url.to_s , class: "img-fluid", alt: @wedding_album.photo_square.url.to_s) %>
  </div>
  <p class="col-3"><%= @wedding_album.wedding_photos[f.index.to_i].photo_identifier %></p>
  <%= link_to_remove_association '<i class="fas fa-times fa-lg"></i>'.html_safe, f, class: "delete-x col-1", data: { confirm: 'Are you sure?' } %>
  <div class="col-4">
    <%= f.file_field :photo %>
  </div>
</div>



<div class="nested-fields">
  <%= wedding_album.wedding_photos[f.index.to_i] %>
  <% if @wedding_album.wedding_photos[f.index.to_i].photo? %>
    <div class="row uploaded-wedding-photo">
      <%= f.label :photo, " #{f.index.to_i + 1 }", class: "col-1" %>
      <div class="col-2">
        <%= image_tag( @wedding_album.wedding_photos[f.index.to_i].photo.url.to_s , class: "img-fluid", alt: @wedding_album.photo_square.url.to_s) %>
      </div>
      <p class="col-3 display-md"><%= @wedding_album.wedding_photos[f.index.to_i].photo_identifier %></p>
      <div class="col-7 col-md-4">
        <%= f.file_field :photo %>
      </div>
      <%= link_to_remove_association '<i class="fas fa-times fa-lg"></i>'.html_safe, f, class: "delete-x col-1 col-md-2", data: { confirm: 'Are you sure?' } %>
    </div>

  <% else %>
    <%= f.label :photo, "Photo #{f.index.to_i + 1 }", class: "wedding-photo-label" %>
    <%= f.file_field :photo %>
    <%= link_to_remove_association '<i class="fas fa-times fa-lg"></i>'.html_safe, f, class: "delete-x" %>
  <% end %>
</div>

<div class="image-wrapper">
  <%= image_tag( "site0001_1920x1080.jpg" , class: "img-fluid active", alt: "index image") %>
  <%= image_tag( "site0002_1920x1080.jpg" , class: "img-fluid", alt: "index image") %>
  <%= image_tag( "site0005_1920x1080.jpg" , class: "img-fluid",id: "4", alt: "index image") %>
  <%= image_tag( "site0004_1920x1080.jpg" , class: "img-fluid", alt: "index image") %>
</div> <!-- end image-wraper -->


<!-- Card Testimonials -->

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card">
          <%= image_tag("wedd0884_sq.jpg" , class: "img-fluid", alt: "theofilos venardos") %>
          <p class="signature">Mary - John</p>
          <p class="date">05/12/2018</p>
          <p>Wedding photos are the story tellers of love, promise, memory and joy. That’s what makes them timeless and priceless at the same time. Theofilos, Christos and Nikolas were there to offer us all that with their outstanding professionalism, motivation and inspiration!
            Their more -than- friendly approach to our wedding revealed their human qualities and sincere interest to us and the ideal result: they did not check their watches not even once, they did not hesitate to “kidnap” us to settings and sceneries they had picked beforehand and all that without charging us a fortune!
            Thank you guys for your authentic participation to our party with your everlasting inspired photos!
          </p>
        </div> <!-- end card -->
      </div>
      <div class="col-12 col-md-6">
        <div class="card">
          <%= image_tag("wedd_square.jpg" , class: "img-fluid", alt: "theofilos venardos") %>
          <p class="signature font-gr">Θέμης – Μαρία</p>
          <p class="date">12/01/2013</p>
          <p class="font-gr">Οι φωτογραφίες γάμου ήταν για μας ένα ιδιαίτερο κομμάτι της όλης προετοιμασίας.
            Δε θέλαμε απλή φωτογράφηση, στημένες πόζες και χαμόγελα. Θέλαμε έναν φωτογράφο που να μπορεί να αποτυπώσει στιγμές, συναισθήματα, εκφράσεις.Θέλαμε φωτογραφίες ζωής και όχι απλά αναμνηστικές.
            Την πρώτη φορά που συναντηθήκαμε με το Θεόφιλο και είδαμε δουλειές του, καταλάβαμε πως βρήκαμε αυτό που ψάχναμε. Η όποια αγωνία μας, άρχισε να φεύγει όταν είδαμε τον επαγγελματισμό του Θεόφιλου και της ομάδας του στην τελετή και κάποιες από τις φωτογραφίες που έβγαζαν.
            Έφυγε πολύ αργά τη νύχτα, όταν θεώρησε ότι είχε ολοκληρώσει αυτό που ήθελε να πετύχει. Παρά το γεγονός ότι είχε μία πολύ δύσκολη μέρα, δεν άφησε ένα πολύ σοβαρό προσωπικό θέμα να επηρεάσει τη δουλειά του.
            Στη φωτογράφηση επόμενης μέρας φάνηκε ακόμα περισσότερο η αγάπη του για τη φωτογραφία και η επιμονή για το καλύτερο δυνατό αποτέλεσμα. Δικαιώθηκε η επιλογή μας και ο ίδιος.
            Δε μπορούσαμε να φανταστούμε καλύτερες φωτογραφίες. Τα χρώματα, ο τρόπος που χειρίζεται το φως, η επιλογή στιγμών και σκηνικού, ιδανικά. Θεόφιλε ευχαριστούμε, με τις φωτογραφίες σου δε θα ξεχάσουμε ποτέ τη μαγεία εκείνων των ημερών.
          </p>
          </div> <!-- end card -->
      </div>
      <div class="col-12 col-md-6">
        <div class="card">
          <%= image_tag("wedd0884_sq.jpg" , class: "img-fluid", alt: "theofilos venardos") %>
          <p class="signature font-gr">Ελίνα – Κώστας</p>
          <p class="date">26/10/2013</p>
          <p class="font-gr">Κάθε φορά που βλέπουμε μία ή περισσότερες από τις φωτογραφίες του γάμου, ασυναίσθητα χαμογελάμε. Σίγουρα πρόκειται για μια μοναδική στιγμή… Ο Θεόφιλος με τις φωτογραφίες του κατάφερε να κάνει την ανάμνηση εκείνης της μέρας τόσο όμορφη και ζωντανή! Το εξαιρετικό αποτέλεσμα δεν ήρθε τυχαία, η ματιά του και η αισθητική του μας πρόσφεραν αυτό ακριβώς που περιμέναμε όταν αρχίσαμε την αναζήτηση για την φωτογραφική κάλυψη του γάμου μας. Τον κατεβάσαμε στα Χανιά και ελπίζουμε να έρθει, παρέα με τον φακό του, όπου αλλού του ζητήσουμε στο μέλλον. Θεόφιλε ευχαριστούμε για όλα!
          </p>
        </div> <!-- end card -->
      </div>
    </div> 
