<div class="field">
  <%= form.label "Email*" %><br />
  <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
  <%= form.label "Password*" %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= form.password_field :password, autocomplete: "off" %>
</div>

<div class="field">
  <%= form.label "Password confirmation*" %><br />
  <%= form.password_field :password_confirmation, autocomplete: "off" %>
</div>
