<div class="container form devise text-center">
  <h1>Editing User</h1>

  <%= render 'form', user: @user %>

  <% if signed_in? && current_user == @user %>
    <%= link_to "Change your password", edit_user_registration_path, class: "btn" %>
  <% end %>

  <% if signed_in? && current_user.admin? %>
    <%= link_to 'Go back to account', @user, class: 'btn' %>
    <%= link_to 'Show all users', users_path, class: 'btn' %>
  <% else %>
    <%= link_to 'Go back to my account', @user, class: 'btn' %>
  <% end %>
</div>
