<div class="container-fluid index text-center">

  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4300">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag( "site0001_1920_1106.jpg" , class: "img-fluid active d-block w-100", alt: "index image") %>
      </div>
      <div class="carousel-item">
        <%= image_tag( "site0002_1920_1106.jpg" , class: "img-fluid d-block w-100", alt: "index image") %>
      </div>
      <div class="carousel-item">
        <%= image_tag( "site0005_1920_1106.jpg" , class: "img-fluid d-block w-100", alt: "index image") %>
      </div>
      <div class="carousel-item">
        <%= image_tag( "site0004_1920_1106.jpg" , class: "img-fluid d-block w-100", alt: "index image") %>
      </div>
    </div>
  </div>

  <div class="index-portfolio">
    <h1>Portfolio</h1>
    <div class="row">
      <div class="col-md-6 card wedding">
        <%= link_to wedding_albums_path, :action => 'go' do %>
          <div class="link-wedding">
            <%= image_tag( "index_wedding_5.jpg" , class: "img-fluid hover-shadow", alt: "wedding") %>
            <p class="hover-text">Wedding Portfolio</p>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-12 card baptism">
            <%= link_to baptism_albums_path, :action => 'go' do %>
              <div class="link-baptism">
                <%= image_tag( "index_batism.jpg" , class: "img-fluid hover-shadow", alt: "batism") %>
                <p class="hover-text">Baptism Portfolio</p>
              </div>
            <% end %>
          </div>

          <div class="col-12 card interior-design">
            <%= link_to interior_designs_path, :action => 'go' do %>
              <div class="link-interior-design">
                <%= image_tag( "index_interior_design.jpg" , class: "img-fluid hover-shadow", alt: "interior design") %>
                <p class="hover-text">Interior Design Portfolio</p>
              </div>
            <% end %>
          </div>
        </div> <!-- end row -->
      </div>
    </div> <!-- end row -->
  </div> <!-- end index-portfolio -->

  <div class="index-about">
    <h1>Behind the lens</h1>
    <div class="row">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-4 offset-md-0">
        <%= image_tag( "theofilos_venardos_1.jpg" , class: "img-fluid", alt: "theofilos venardos") %>
      </div>
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-12">
            <p>Hi! I am Theophilos Venardos and I live in Athens. I work
               as a professional photographer since 2000. The happiness of a marriage,
               the thrill of a baptism, the festive atmosphere of an anniversary is
               for me an inspiration.
             </p>
           </div>
           <div class="col-6 offset-3">
            <%= link_to "More about me", basic_pages_about_path, class: "btn" %>
          </div>
        </div> <!-- end row -->
      </div>
    </div> <!-- end row -->
    <div class="row">
      <p class="col-12">For any queries you can take a look at the most <%= link_to "frequently asked questions", basic_pages_faq_path %> or <%= link_to "contact me", basic_pages_contact_path %>.</p>
    </div>
  </div> <!-- end index-about -->

  <div class="index-testimonials">
    <h1>Testimonials</h1>
    <div class="card">
      <div class="row">
        <div class="col-sm-3">
          <%= image_tag("wedd0884_sq.jpg" , class: "img-fluid", alt: "theofilos venardos") %>
          <p class="signature">Anthi - George</p>
          <p class="date">05/12/2018</p>
        </div>
        <div class="col-sm-9 testimonial">
          <p>Wedding photos are the story tellers of love, promise, memory and joy. That’s what makes them timeless and priceless at the same time. Theofilos, Christos and Nikolas were there to offer us all that with their outstanding professionalism, motivation and inspiration!
            Their more -than- friendly approach to our wedding revealed their human qualities and sincere interest to us and the ideal result: they did not check their watches not even once, they did not hesitate to “kidnap” us to settings and sceneries they had picked beforehand and all that without charging us a fortune!
            Thank you guys for your authentic participation to our party with your everlasting inspired photos!
          </p>
        </div>
      </div> <!-- end row -->
    </div> <!-- end card -->

    <div class="card">
      <div class="row">
        <div class="col-sm-3 order-sm-9">
          <%= image_tag("wedd_square.jpg" , class: "img-fluid", alt: "theofilos venardos") %>
          <p class="signature">Mary - John</p>
          <p class="date">05/12/2018</p>
        </div>
        <div class="col-sm-9 order-sm- 3 testimonial">
          <p class="font-gr">Κάθε φορά που βλέπουμε μία ή περισσότερες από τις φωτογραφίες του γάμου, ασυναίσθητα χαμογελάμε. Σίγουρα πρόκειται για μια μοναδική στιγμή… Ο Θεόφιλος με τις φωτογραφίες του κατάφερε να κάνει την ανάμνηση εκείνης της μέρας τόσο όμορφη και ζωντανή! Το εξαιρετικό αποτέλεσμα δεν ήρθε τυχαία, η ματιά του και η αισθητική του μας πρόσφεραν αυτό ακριβώς που περιμέναμε όταν αρχίσαμε την αναζήτηση για την φωτογραφική κάλυψη του γάμου μας. Τον κατεβάσαμε στα Χανιά και ελπίζουμε να έρθει, παρέα με τον φακό του, όπου αλλού του ζητήσουμε στο μέλλον. Θεόφιλε ευχαριστούμε για όλα!
          </p>
        </div>
      </div> <!-- end row -->
    </div> <!-- end card -->


    <div class="card last-card">
      <div class="row">
        <div class="col-sm-3">
          <%= image_tag("wedd0884_sq.jpg" , class: "img-fluid", alt: "theofilos venardos") %>
          <p class="signature">Mary - John</p>
          <p class="date">05/12/2018</p>
        </div>
        <div class="col-sm-9 testimonial">
          <p class="font-gr">Οι φωτογραφίες γάμου ήταν για μας ένα ιδιαίτερο κομμάτι της όλης προετοιμασίας.
            Δε θέλαμε απλή φωτογράφηση, στημένες πόζες και χαμόγελα. Θέλαμε έναν φωτογράφο που να μπορεί να αποτυπώσει στιγμές, συναισθήματα, εκφράσεις.Θέλαμε φωτογραφίες ζωής και όχι απλά αναμνηστικές.
            Την πρώτη φορά που συναντηθήκαμε με το Θεόφιλο και είδαμε δουλειές του, καταλάβαμε πως βρήκαμε αυτό που ψάχναμε. Η όποια αγωνία μας, άρχισε να φεύγει όταν είδαμε τον επαγγελματισμό του Θεόφιλου και της ομάδας του στην τελετή και κάποιες από τις φωτογραφίες που έβγαζαν.
            Έφυγε πολύ αργά τη νύχτα, όταν θεώρησε ότι είχε ολοκληρώσει αυτό που ήθελε να πετύχει. Παρά το γεγονός ότι είχε μία πολύ δύσκολη μέρα, δεν άφησε ένα πολύ σοβαρό προσωπικό θέμα να επηρεάσει τη δουλειά του.
            Στη φωτογράφηση επόμενης μέρας φάνηκε ακόμα περισσότερο η αγάπη του για τη φωτογραφία και η επιμονή για το καλύτερο δυνατό αποτέλεσμα. Δικαιώθηκε η επιλογή μας και ο ίδιος.
            Δε μπορούσαμε να φανταστούμε καλύτερες φωτογραφίες. Τα χρώματα, ο τρόπος που χειρίζεται το φως, η επιλογή στιγμών και σκηνικού, ιδανικά. Θεόφιλε ευχαριστούμε, με τις φωτογραφίες σου δε θα ξεχάσουμε ποτέ τη μαγεία εκείνων των ημερών.
          </p>
        </div>
      </div> <!-- end row -->
    </div> <!-- end card -->

    <div class="row">
      <div class="col-6 offset-3">
        <%= link_to "More testimonials", basic_pages_index_path, class: "btn disabled" %>
      </div>
    </div>

  </div> <!-- end index-testimonials -->
</div>
