<%# if wedding_album.weddinname and recipe.image_url %>
<% if wedding_album_counter == 0 %>
  <div class="col-sm-12 col-md-8 offset-md-2">
<% else %>
  <div class="col-sm-12 col-md-6 grid-wedding-album">
<% end %>
    <%= link_to wedding_album, :action => 'go' do %>
      <div class="wedding-album-card">
        <div class="wedding-album-img">
          <%= image_tag( wedding_album.photo.url.to_s , class: "img-fluid", alt: wedding_album.wedding_album_translations.first.title) %>
          <div class="hover-text text-center">
            <p><%= wedding_album.wedding_album_translations.first.title %></p>
            <p><%= wedding_album.wedding_album_translations.first.description %></p>
          </div>
        </div>

        <% if user_signed_in? %>
          <div class="wedding-album-links-index">
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_wedding_album_path(wedding_album) %>
            <%= link_to '<i class="fa fa-trash-o" ></i>'.html_safe, wedding_album, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div> <!-- end wedding-album-links-index -->
        <% end %>
      </div> <!-- end wedding-album-card -->
    <% end %>
  </div>
<%# end %>
