<p id="notice"><%= notice %></p>
<div class="container wedding-album text-center">

  <div class="header">
    <%= image_tag( @wedding_album.photo_square.url.to_s , class: "img-fluid", alt: @wedding_album.photo_square_identifier) %>

    <h3><%= @wedding_album.wedding_album_translations.first.title %></h3>
    <h4><%= @wedding_album.wedding_album_translations.first.description %></h4>
  </div>

  <div class="row display-xs" style= "display: none">
    <div class="col-10 offset-1 column">
      <% @wedding_album.wedding_photos.each do |wedding_photo| %>
        <%= image_tag(wedding_photo.photo.url.to_s , class: "img-fluid", alt: wedding_photo.photo_identifier) %>
      <% end %>
    </div>
  </div>

  <div class="row display-sm" style= "display: none">
    <div class="col-6 column">
      <% @wedding_photos_1_2.each do |wedding_photo| %>
        <%= image_tag(wedding_photo.photo.url.to_s , class: "img-fluid", alt: wedding_photo.photo_identifier) %>
      <% end %>
    </div>
    <div class="col-6 column">
      <% @wedding_photos_2_2.each do |wedding_photo| %>
        <%= image_tag(wedding_photo.photo.url.to_s , class: "img-fluid", alt: wedding_photo.photo_identifier) %>
      <% end %>
    </div>
  </div>

  <div class="row display-md">
    <div class="col-4 column">
      <% @wedding_photos_1_3.each do |wedding_photo| %>
        <%= image_tag(wedding_photo.photo.url.to_s , class: "img-fluid", alt: wedding_photo.photo_identifier) %>
      <% end %>
    </div>
    <div class="col-4 column">
      <% @wedding_photos_2_3.each do |wedding_photo| %>
        <%= image_tag(wedding_photo.photo.url.to_s , class: "img-fluid", alt: wedding_photo.photo_identifier) %>
      <% end %>
    </div>
    <div class="col-4 column">
      <% @wedding_photos_3_3.each do |wedding_photo| %>
        <%= image_tag(wedding_photo.photo.url.to_s , class: "img-fluid", alt: wedding_photo.photo_identifier) %>
      <% end %>
    </div>
  </div>


  <div class="row">
    <%= link_to 'Edit album', edit_wedding_album_path(@wedding_album), class: "col-10 offset-1 col-sm-12 offset-sm-0 btn" %>
  </div>
  <!-- <%= link_to 'Back', wedding_albums_path %> -->
</div>
