<% if request.url.include? "wedding" %>
  <% album = @wedding_album %>
  <% album_photos = @wedding_album.wedding_photos %>
  <% album_translations = @wedding_album.wedding_album_translations %>
  <% album_kind_db = "wedding" %>
  <% album_kind_html = "wedding" %>
<% elsif request.url.include? "baptism"  %>
  <% album = @baptism_album %>
  <% album_photos = @baptism_album.baptism_photos %>
  <% album_translations = @baptism_album.baptism_album_translations %>
  <% album_kind_db = "baptism" %>
  <% album_kind_html = "baptism" %>
<% elsif request.url.include? "interior"  %>
  <% album = @interior_album %>
  <% album_photos = @interior_album.interior_photos %>
  <% album_translations = @interior_album.interior_album_translations %>
  <% album_kind_db = "interior" %>
  <% album_kind_html = "interior design" %>
<% end %>


<div class="header">
  <% if album.photo_square? %>
    <%= image_tag( album.photo_square.url.to_s , class: "img-fluid", alt: "Theofilos Venardos Photography: #{album_translations.first.title} photo") %>
  <% end %>

  <h3><%= album_translations.first.title %></h3>
  <h4><%= album_translations.first.description %></h4>

  <% if false %>
  <div class="description">
    <h5>This is a title</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed molestie ligula sed ipsum vulputate mattis sed eu libero. Duis placerat turpis vel lacus volutpat, id rutrum tellus dignissim. Etiam id nisl pulvinar orci accumsan hendrerit. Cras quis dui lorem. Pellentesque scelerisque purus et urna rutrum cursus. Phasellus sit amet leo volutpat, convallis arcu venenatis, congue mi. Praesent volutpat odio eu turpis vulputate volutpat. Donec tempus mi metus, ut auctor sem ullamcorper aliquet. Nulla sem eros, sollicitudin id posuere ac, semper id eros. Maecenas mattis metus sagittis ipsum feugiat, vel blandit sem efficitur. Nullam condimentum velit ut dui eleifend, sit amet sagittis nulla commodo. Sed mollis ac orci eu pretium. Nunc sagittis, massa sit amet vulputate euismod, ex erat suscipit lectus, vitae fringilla tellus magna non tellus.
    </p>
  </div>

  <div class="description-points">
    <p><span class="description-title">Photography: </span>Theofilos Venardos
    &bull; <span class="description-title">Assistant Photographer: </span>Takis Papadopoulos
    &bull; <span class="description-title">Videographer: </span>Maria Xylouri
    &bull; <span class="description-title">Bridal Dress & Veil: </span>Super Bridal Dresses
    &bull; <span class="description-title">Bridal Shoes: </span>Amazing Bridal Shoes
    &bull; <span class="description-title">Groom's Suit: </span>Super Groom's Suit
    &bull; <span class="description-title">Groom's Shoes: </span>Amazing Groom's Shoes
    &bull; <span class="description-title">Wedding Rings: </span>Amazing Groom's Shoes
    &bull; <span class="description-title">Jewellery: </span>Amazing Groom's Shoes
    &bull; <span class="description-title">Wedding Planner: </span>Amazing Groom's Shoes
    &bull; <span class="description-title">Wedding Florist: </span>Amazing Groom's Shoes
    &bull; <span class="description-title">Makeup Artist: </span>Amazing Groom's Shoes
    &bull; <span class="description-title">Hairstylist: </span>Amazing Groom's Shoes
    &bull; <span class="description-title">Church: </span>Elina Charalampous
    &bull; <span class="description-title">Venue: </span>Here</p>
<!--
    <p><span class="description-title">Photography: </span>Theofilos Venardos</p>
    <p><span class="description-title">Assistant Photographer: </span>Takis Papadopoulos</p>
    <p><span class="description-title">Videographer: </span>Maria Xylouri</p>
    <p><span class="description-title">Bridal Dress & Veil: </span>Super Bridal Dresses</p>
    <p><span class="description-title">Bridal Shoes: </span>Amazing Bridal Shoes</p>
    <p><span class="description-title">Groom's Suit: </span>Super Groom's Suit</p>
    <p><span class="description-title">Groom's Shoes: </span>Amazing Groom's Shoes</p>
    <p><span class="description-title">Makeup Artist: </span>Elina Charalampous</p>
    <p><span class="description-title">Venue: </span>Here</p> -->



  </div>
  <% end %>
</div>


<div class="row display-xs" style= "display: none">
  <div class="col-10 offset-1 column">
    <% album_photos.each_with_index do |photo, index| %>
      <%= image_tag(photo.photo_url(:grid_thumb) , class: "img-fluid open-modal-image hover-shadow", alt: "Theofilos Venardos Photography: #{album_translations.first.title} photo", data: {slide: index}) %>
    <% end %>
  </div>
</div>

<div class="row display-sm" style= "display: none">
  <div class="col-6 column">
    <% @photos_1_2.each_with_index do |photo, index| %>
      <%= image_tag(photo.photo_url(:grid_thumb) , class: "img-fluid open-modal-image hover-shadow", alt:  "Theofilos Venardos Photography: #{album_translations.first.title} photo", data: {slide: 2*index}) %>
    <% end %>
  </div>
  <div class="col-6 column">
    <% @photos_2_2.each_with_index do |photo, index| %>
      <%= image_tag(photo.photo_url(:grid_thumb) , class: "img-fluid open-modal-image hover-shadow", alt:  "Theofilos Venardos Photography: #{album_translations.first.title} photo", data: {slide: 2*index+1}) %>
    <% end %>
  </div>
</div>

<div class="row display-md">
  <div class="col-4 column">
    <% @photos_1_3.each_with_index do |photo, index| %>
      <%= image_tag(photo.photo_url(:grid_thumb) , class: "img-fluid open-modal-image hover-shadow", alt: "Theofilos Venardos Photography: #{album_translations.first.title} photo", data: {slide: index+index*2}) %>
    <% end %>

  </div>
  <div class="col-4 column">
    <% @photos_2_3.each_with_index do |photo, index| %>
      <%= image_tag(photo.photo_url(:grid_thumb) , class: "img-fluid open-modal-image hover-shadow", alt: "Theofilos Venardos Photography: #{album_translations.first.title} photo", data: {slide: 3*index +1}) %>
    <% end %>
  </div>
  <div class="col-4 column">
    <% @photos_3_3.each_with_index do |photo, index| %>
    <%= image_tag(photo.photo_url(:grid_thumb) , class: "img-fluid open-modal-image hover-shadow", alt: "Theofilos Venardos Photography: #{album_translations.first.title} photo", data: {slide: 3*index +2}) %>
    <% end %>
  </div>
</div>


<!-- The Modal/Lightbox -->
<div id="modal" class="mdl row h-100 w-100">
  <span class="close cursor">&times;</span>
  <div class="mdl-content my-auto">
    <% album_photos.each_with_index do |photo, index| %>
      <div class="slides mx-auto">
        <%= image_tag(photo.photo.url.to_s , class: "img-fluid", alt:  "Theofilos Venardos Photography: #{album_translations.first.title} photo")%>
      </div>
    <% end %>

    <!-- Next/previous controls -->
    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>
  </div>
</div>

<div id="go-top" title="Go to top" class="btn"><i class='fas fa-angle-up fa-lg'></i></div>

<% if user_signed_in? %>
  <div class="links">
    <div class="row">
      <div class="col col-10 offset-1 col-md-5 offset-md-0">
        <%= link_to 'Edit album', {controller: "#{album_kind_db}_albums", action: "edit", id: album}, class: "btn" %>
      </div>
      <div class="col col-10 offset-1 col-md-3 offset-md-0">
        <%= link_to 'Delete album'.html_safe, album, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-red" %>
      </div>
      <div class="col col-10 offset-1 col-md-4 offset-md-0">
        <%= link_to "Show all #{album_kind_html} albums", eval("#{album_kind_db}_albums_path"), class: "btn" %>
      </div>
    </div>
  </div>
<% end %>
