<%= form_with(model: testimonial, local: true) do |f| %>
  <% if testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
      <% testimonial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="with-border">
    <div class="field testimonial-signature">
      <%= f.label :signature, "Signature" %>
      <%= f.text_field :signature, class: 'form-control'  %>
    </div>

    <div class="field">
      <%= f.label :testimonial_on %>
      <%= f.date_select :testimonial_on, start_year: 2000, class: 'form-control'  %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 15, class: 'form-control'  %>
    </div>
  </div>

  <div class="field with-border">
    <% if testimonial.photo? %>
      <p>Photo (square)</p>
      <div class="row uploaded-cover-photo">
        <div class="col-3 col-md-2">
          <%= image_tag( testimonial.photo.url.to_s , class: "img-fluid", alt: testimonial.photo_identifier.to_s) %>
        </div>
        <div class="col-7 col-md-10">
          <p><b>Uploaded photo:</b> <%= testimonial.photo %></p>
          <label>
            <%= f.check_box :remove_photo %>
            Delete uploaded photo
          </label>
        </div>
      </div><br/>
      <%= f.label :photo, "<span><b>Replace</b> photo</span>".html_safe %>
    <% else %>
      <%= f.label :photo, "Photo (square)" %>
    <% end %>
    <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <% if testimonial.persisted? %>
      <%= f.submit "Update testimonial", class: "btn" %>
      <%= link_to "Cancel editing", testimonial, class: "btn", data: { confirm: "Editing will be canceled. No changes will be saved. Are you sure?"} %>

    <% else %>
      <%= f.submit "Create testimonial", class: "btn" %>
      <%= link_to "Cancel", testimonials_path, class: "btn", data: { confirm: "Editing will be canceled. No changes will be saved. Are you sure?"} %>
    <% end %>
  </div>
<% end %>
