<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Θεόφιλος Βενάρδος | Φωτογράφος Γάμου | Βάφτισης | Αθήνα, Ελλάδα</title>
    <meta name="description" content="Φωτογράφος Γάμου, Βάφτισης και Εσωτερικού Χώρου. Καλλιτεχνικές φωτογραφίσεις στην Αθήνα, σε όλη την Ελλάδα και στο Εξωτερικό.">
    <meta name="keywords" content="Φωτογράφος, φωτογράφος γάμου, φωτογράφος βάφτιστης, φωτογράφος εσωτερικού χώρου, ΑΘήνα, Ελλάδα, Νησιά, Εξωτερικό, Photography, photographer, Wedding, Baptism, Interior Design, Athens, Greece, greek islands">
    <meta name="image" content='<%= image_tag( "site0001_1920_1106.jpg" , alt: "Theofilos Venardso Photography") %>'>

    <!-- Facebook meta tags -->
    <meta property="og:title" content="Theofilos Venardos Photography" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.theofilosvenardos.com" />
    <meta property="og:image" content="https://bakeisyum-elina.s3.us-east-2.amazonaws.com/uploads/wedding_album/photo/6/site0054.JPG">
    <meta property="og:image:alt" content="Theofilos Venardos wedding Photography" />
    <meta property="og:description" content="Καλλιτεχνική φωτογραφία γάμου, βάφτισης και εσωτερικού χώρου." />

    <!-- Favicon Tag -->
    <%= favicon_link_tag asset_path('favicon.png') %>
    <!-- Canonical Tag -->
    <link rel=“canonical” href=“https://www.theofilosvenardos.com”>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Javascript -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <!-- Google Fonts API -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600|Open+Sans|Roboto|Roboto+Slab:300,400|Didact+Gothic" rel="stylesheet">

    <!-- Font Awesome 5 Icons -->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
    <!-- Font Awesome 4 Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Structed Data -->
    <script type='application/ld+json'>
      {
        "@context": "http://www.schema.org",
        "@type": "ProfessionalService",
        "name": "Theofilos Venardos Photography",
        "url": "https://www.theofilosvenardos.com",
        "logo": "www.yourbusiness.com/logo.jpg",
        "image":[
          "https://bakeisyum-elina.s3.us-east-2.amazonaws.com/uploads/wedding_album/photo/6/site0054.JPG",
          "https://bakeisyum-elina.s3.us-east-2.amazonaws.com/uploads/wedding_album/photo/43/ifigenia_kostas_cover.jpg",
        ],
          "description": "Φωτογράφος Γάμου, Βάφτισης και Εσωτερικού Χώρου. Καλλιτεχνικές φωτογραφίσεις στην Αθήνα, σε όλη την Ελλάδα και στο Εξωτερικό.",
        "address": {
           "@type": "PostalAddress",
           "addressLocality": "Athens",
           "addressCountry": "GR"
        },
        "telephone": "+30 697 6769195",
        "sameAs": [
              "https://www.facebook.com/VenardosPhotography",
              "https://www.instagram.com/theofilos_venardos/"
            ]
      }
    </script>
  </head>


  <body>
    <% construction = 0 %>
    <% if construction == 1 %>
      <%= render basic_pages_under_construction_path %>
    <% else %>
      <!--navbar starts here-->
      <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-md-center fixed-top">
        <%= link_to "Theofilos Venardos", root_url, class: "navbar-brand d-md-none" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar">
          <ul class="navbar-nav mx-auto text-md-center text-left">
            <li class="nav-item dropdown">
              <a class="nav-link navbarDropdown" href="#" id="navbarDropdown-portfolio" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PORTFOLIO <i class='fas fa-angle-down fa-lg'></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <%= link_to "Weddings", wedding_albums_path, class: "dropdown-item" %>
               <%= link_to "Baptism", BaptismAlbum.first, class: "dropdown-item" %>
               <%= link_to "Interior Design", InteriorAlbum.first, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item <%= 'active' if current_page?(about_path) %>"><%= link_to "ABOUT", about_path, class: "nav-link" %></li>
            <li class="nav-item my-auto">
              <%= link_to "Theofilos Venardos", root_url, class: "nav-link navbar-brand mx-0 d-none d-md-inline" %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(frequently_asked_questions_path) %>"><%= link_to "FAQ", frequently_asked_questions_path, class: "nav-link" %></li>
            <li class="nav-item <%= 'active' if current_page?(contact_path) %>"><%= link_to "CONTACT", contact_path, class: "nav-link" %></li>
          </ul>
          <ul class="navbar-nav flex-row justify-content-md-center justify-content-start user-link">
            <% if user_signed_in? %>
              <% user_name = "User" %>
              <% if current_user.name? %>
                <% user_name = current_user.name %>
              <% end %>
              <li class="nav-item dropdown w-100">
                <a class="nav-link navbarDropdown" href="#" id="navbarDropdown-user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hi <%= user_name %> <i class='fas fa-angle-down fa-lg'></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!-- <div class="dropdown-divider"></div> -->
                  <%= link_to "Manage Weddings", wedding_albums_path, class: "dropdown-item" %>
                  <%= link_to "Manage Baptisms", baptism_albums_path, class: "dropdown-item" %>
                  <%= link_to "Manage Interior Design", interior_albums_path, class: "dropdown-item" %>
                  <%= link_to "Manage Testimonials", testimonials_path, class: "dropdown-item" %>
                  <%= link_to "Manage FAQs", faqs_path, class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "My Account", current_user, method: :get, class: "dropdown-item" %>
                  <% if current_user.admin? %>
                    <%= link_to "Manage Users", users_path, method: :get, class: "dropdown-item" %>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <!-- navbar ends here -->

      <!-- main body starts here -->
      <div class="anchor">
        <!-- flash messages -->
        <div class="container flash-messages">
          <% if notice %>
            <p id="notice" class="alert alert-info", role="alert"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p id="alert" class="alert alert-danger", role="alert"><%= alert %></p>
          <% end %>
        </div>

        <div class="main-body">
          <%= yield %>
        </div>
      </div>
      <!-- main body ends here -->

      <!-- footer starts here -->
      <footer>
        <div class="container-fluid" id="footer">
          <!-- Instagram starts here -->
          <% if false %>
          <div class="instagram text-center">
          <h2>FOLLOW ME ON INSTAGRAM</h2>
          <%= link_to "#theofilosvenardosphotography", "https://www.instagram.com/theofilos_venardos/",  target: "_blank" %>
          <div class="instagram-photos">
            <div class="row">
              <% @instagram_photos.each_with_index do |photo, index| %>
                <% if index.even? %>
                  <div class="col-4 offset-2 col-sm-2 offset-sm-0 instagram-photo">
                <% else %>
                  <div class="col-4 col-sm-2 instagram-photo">
                <% end %>
                  <%= link_to @instagram_links[index], :action => 'go', target: "_blank"  do %>
                    <%= image_tag(photo, class: "img-fluid", alt: "#theofilosvenardosphotography") %>
                  <% end %>
                  </div>
              <% end %>
            </div> <!-- end row -->
          </div>
        </div> <!-- end instagram -->
        <% end %>

        <div class="content">
          <div class="row">
            <div class="col-md-4 social-media">
              <%= link_to "<i class='fab fa-facebook-f fa-sm'></i>".html_safe, "https://www.facebook.com/VenardosPhotography",  target: "_blank" %>
              <%= link_to "<i class='fab fa-instagram fa-sm'></i>".html_safe, "https://www.instagram.com/theofilos_venardos/",  target: "_blank" %>
              <%= link_to "<i class='fas fa-envelope fa-sm'></i>".html_safe, contact_path %>
            </div>
            <div class="col-md-4 logo text-center">
              <p>Theofilos Venardos</p>
            </div>
            <div class="col-md-4 copyright text-center">
              <p>&copy; <%= Date.today.year %> Theofilos Venardos</p>
            </div>
          </div> <!-- end row -->
        </div> <!-- end content -->

        </div> <!-- end container-fluid -->
      </footer>
      <!-- footer ends here -->
    <% end %>
  </body>
</html>
